In [4]:
import pandas as pd

In [8]:
df=pd.read_csv('/content/train.csv')

In [11]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [20]:
df.tail(2)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8521           FDN46         7.21  ...  Supermarket Type2          1845.5976
8522           DRG01        14.80  ...  Supermarket Type1           765.6700

[2 rows x 12 columns]

In [16]:
df.shape

(8523, 12)

In [17]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 865.6+ KB

In [36]:
df.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4650.000000      4650.000000  4650.000000                4650.000000
mean     12.898675         0.060700   141.716328                1999.190538
std       4.670973         0.044607    62.420534                   7.388800
min       4.555000         0.000000    31.490000                1987.000000
25%       8.770000         0.025968    94.409400                1997.000000
50%      12.650000         0.049655   142.979900                1999.000000
75%      17.000000         0.088736   186.614150                2004.000000
max      21.350000         0.188323   266.888400                2009.000000

In [19]:
df.nunique()

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [12]:
df.mean()

Item_Weight                    12.857645
Item_Visibility                 0.066132
Item_MRP                      140.992782
Outlet_Establishment_Year    1997.831867
Item_Outlet_Sales            2181.288914
dtype: float64

In [13]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [14]:
df.duplicated().sum()

0

In [15]:
df.drop_duplicates(inplace=True)

In [21]:
df.columns.values

array(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content',
       'Item_Visibility', 'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'], dtype=object)

In [51]:
df.isna().any()

Item_Identifier              False
spah_EL_fol                  False
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                  False
Outlet_Location_Type         False
Outlet_Type                  False
dtype: bool

In [52]:
df.isnull().sum().any()

False

In [26]:
df.isnull()

      Item_Identifier  Item_Weight  ...  Outlet_Type  Item_Outlet_Sales
0               False        False  ...        False              False
1               False        False  ...        False              False
2               False        False  ...        False              False
3               False        False  ...        False              False
4               False        False  ...        False              False
...               ...          ...  ...          ...                ...
8518            False        False  ...        False              False
8519            False        False  ...        False              False
8520            False        False  ...        False              False
8521            False        False  ...        False              False
8522            False        False  ...        False              False

[8523 rows x 12 columns]

In [39]:
df.isna().sum().sort_values()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [27]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [28]:
df.dropna(inplace=True)

In [29]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [31]:
df['Item_Outlet_Sales'].value_counts()

1342.2528    11
1438.1280    11
703.0848     10
958.7520     10
1416.8224     9
             ..
1751.0540     1
5077.3908     1
2403.5380     1
600.5516      1
6385.0220     1
Name: Item_Outlet_Sales, Length: 2449, dtype: int64

In [32]:
df.drop( 'Item_Outlet_Sales', axis=1, inplace=True)

In [35]:
df.shape

(4650, 11)

In [37]:
df['Outlet_Type'] = df['Outlet_Type'].replace(to_replace={'Supermarket Type1':0,'Supermarket Type2':1 , 'Grocery Store':2})

In [38]:
df.head()

  Item_Identifier  Item_Weight  ... Outlet_Location_Type  Outlet_Type
0           FDA15        9.300  ...               Tier 1            0
1           DRC01        5.920  ...               Tier 3            1
2           FDN15       17.500  ...               Tier 1            0
4           NCD19        8.930  ...               Tier 3            0
5           FDP36       10.395  ...               Tier 3            1

[5 rows x 11 columns]

In [42]:
df= df.rename(columns={'Item_Weight': 'spah_EL_fol'})

In [43]:
df.head()

  Item_Identifier  spah_EL_fol  ... Outlet_Location_Type  Outlet_Type
0           FDA15        9.300  ...               Tier 1            0
1           DRC01        5.920  ...               Tier 3            1
2           FDN15       17.500  ...               Tier 1            0
4           NCD19        8.930  ...               Tier 3            0
5           FDP36       10.395  ...               Tier 3            1

[5 rows x 11 columns]

In [50]:
df.Outlet_Establishment_Year.unique()

array([1999, 2009, 1987, 1997, 2004])